DATABASE_URL=replace_with_value
PORT=5000
FRONTEND_ORIGIN=http://localhost:3000,http://localhost:3001
ALLOW_VERCEL_PREVIEWS=false
ADMIN_USERNAME=replace_with_value
ADMIN_PASSWORD=replace_with_value
BREVO_API_KEY=replace_with_value
RAZORPAY_KEY_ID=rzp_live_Sd2BImtyqOqGWG
RAZORPAY_KEY_SECRET=qnijYt7cEkL9wknv0kbAy7zl