DATABASE_URL=replace_with_value
PORT=5000
FRONTEND_ORIGIN=http://localhost:3000,http://localhost:3001
ALLOW_VERCEL_PREVIEWS=false
ADMIN_USERNAME=replace_with_value
ADMIN_PASSWORD=replace_with_value
BREVO_API_KEY=replace_with_value
RAZORPAY_KEY_ID=rzp_live_Snu9rCiy6vsBaD
RAZORPAY_KEY_SECRET=uyZ3m9j7Z34gTNl7i0Al4k0l